/* Basic setup and formatting */
/* Audio toggle in header (default is OFF) */
/* line 2, ../sass/_audio.scss */
#audio-toggle-wrapper {
  display: block;
  position: absolute;
  right: 30px;
  top: 22px;
  height: 25px;
  width: 120px;
  border: 5px solid;
  border-color: transparent;
  background: transparent;
  padding: 3px 17px 2px 3px;
}

/* line 15, ../sass/_audio.scss */
#audio-toggle {
  height: 100%;
  cursor: pointer;
  background: url("//www.perts.net/static/images/audio-sprite.png") 0 0;
}
/* line 20, ../sass/_audio.scss */
#audio-toggle:hover {
  background-position: 0 125px;
}
/* line 24, ../sass/_audio.scss */
#audio-toggle.disabled, #audio-toggle.disabled:hover {
  cursor: auto;
  background-position: 0 100px;
}
/* line 30, ../sass/_audio.scss */
#audio-toggle.on {
  background-position: 0 75px;
}
/* line 33, ../sass/_audio.scss */
#audio-toggle.on:hover {
  background-position: 0 50px;
}
/* line 37, ../sass/_audio.scss */
#audio-toggle.on.disabled, #audio-toggle.on.disabled:hover {
  background-position: 0 25px;
}

/* On browsers which use the (visible) embedded media player, move it */
/* outside the viewport. Giving it display: none; will break it. */
/* line 46, ../sass/_audio.scss */
.perts-audio-embed {
  position: absolute;
  /* Player is normally 320 x 22 px. This positions it offscreen. */
  top: -30px;
  left: -330px;
}

/* Buttons - Next and Back */
/* For typical re-styling of next button. */
/* line 4, ../sass/_buttons.scss */
#Buttons #NextButton,
#FakeNextButton,
#Buttons .perts-button,
.perts-button {
  display: block;
  margin: 0px auto 45px auto;
  box-shadow: none;
  background-color: #3faeec;
  width: 280px;
  padding: 12px 3px;
  font-size: 18px;
  color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 0px solid;
  text-align: center;
  text-decoration: none;
  font-weight: 300;
  font-style: normal;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
}
/* line 32, ../sass/_buttons.scss */
#Buttons #NextButton:hover,
#FakeNextButton:hover,
#Buttons .perts-button:hover,
.perts-button:hover {
  background-color: #368dbe;
}

/* line 37, ../sass/_buttons.scss */
#FakeNextButton {
  position: absolute;
  bottom: 0px;
  right: 110px;
  cursor: pointer;
}

/* line 44, ../sass/_buttons.scss */
#Buttons #NextButton:active,
#Buttons .perts-button:active {
  top: 0px;
  box-shadow: none;
}

/* line 50, ../sass/_buttons.scss */
#Buttons #NextButton.disabled-button {
  background-color: #7bc7f1;
  cursor: default;
}

/* line 55, ../sass/_buttons.scss */
#Buttons #NextButton.disabled-button:hover {
  background-color: #7bc7f1;
  cursor: default;
}

/* line 60, ../sass/_buttons.scss */
a#BackButton {
  position: absolute;
  top: 30px;
  left: 0px;
  color: #999;
  font-size: 18px;
  font-family: "din-condensed-web", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
}
/* line 70, ../sass/_buttons.scss */
#main-content a#BackButton {
  top: 0;
  left: 15px;
}
/* line 75, ../sass/_buttons.scss */
#split-text a#BackButton {
  left: 15px;
}
/* line 79, ../sass/_buttons.scss */
a#BackButton:hover {
  color: #666;
  cursor: pointer;
}
@media only screen and (max-width: 800px) {
  /* line 60, ../sass/_buttons.scss */
  a#BackButton {
    left: 15px;
  }
}

/* line 89, ../sass/_buttons.scss */
#Buttons input#PreviousButton {
  display: none;
}

/* line 3, ../sass/_checkbox-radio.scss */
.Skin .MC li input.radio {
  margin-top: 8px;
  margin-right: 18px;
}
/* line 8, ../sass/_checkbox-radio.scss */
.Skin .MC input[type="radio"] {
  position: relative;
  margin-top: 6px;
  cursor: pointer;
}
/* line 13, ../sass/_checkbox-radio.scss */
.Skin .MC input[type="radio"]:after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #666;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 13, ../sass/_checkbox-radio.scss */
  .Skin .MC input[type="radio"]:after {
    content: none;
  }
}
/* line 28, ../sass/_checkbox-radio.scss */
.Skin .MC input[type="radio"]:checked:after {
  background-color: #4593d5;
  border: 2px solid #4593d5;
}
/* line 34, ../sass/_checkbox-radio.scss */
.Skin .MC td input[type="radio"]:after {
  top: -1px;
  left: -4px;
}
/* line 39, ../sass/_checkbox-radio.scss */
.Skin .MC li input[type="radio"]:after {
  top: -2px;
  left: -2px;
}
/* line 44, ../sass/_checkbox-radio.scss */
.Skin .MC input.checkbox {
  position: relative;
  margin: 10px 15px;
}
/* line 48, ../sass/_checkbox-radio.scss */
.Skin .MC input.checkbox:after {
  content: "";
  position: absolute;
  top: -4px;
  left: -6px;
  height: 20px;
  width: 20px;
  background-color: white;
  border: 2px solid #666;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 48, ../sass/_checkbox-radio.scss */
  .Skin .MC input.checkbox:after {
    content: none;
  }
}
/* line 64, ../sass/_checkbox-radio.scss */
.Skin .MC input.checkbox:checked:after {
  background-color: #4593d5;
  border-color: #4593d5;
}
@media screen and (max-width: 500px) {
  /* line 72, ../sass/_checkbox-radio.scss */
  .Skin .MC table {
    display: block;
  }
  /* line 75, ../sass/_checkbox-radio.scss */
  .Skin .MC table tbody,
  .Skin .MC table tr,
  .Skin .MC table td {
    display: block;
    width: 100%;
  }
  /* line 82, ../sass/_checkbox-radio.scss */
  .Skin .MC table td span.LabelWrapper {
    position: relative;
    padding-left: 45px;
    cursor: pointer;
    text-align: left;
  }
  /* line 88, ../sass/_checkbox-radio.scss */
  .Skin .MC table td span.LabelWrapper br {
    display: none;
  }
  /* line 92, ../sass/_checkbox-radio.scss */
  .Skin .MC table td span.LabelWrapper label:after {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #666;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    top: -1px;
    left: 10px;
  }
  /* line 104, ../sass/_checkbox-radio.scss */
  .Skin .MC table td span.LabelWrapper label.q-checked:after {
    background-color: #4593d5;
    border-color: #4593d5;
  }
  /* line 110, ../sass/_checkbox-radio.scss */
  .Skin .MC table td.ControlContainer {
    height: 0;
    visibility: hidden;
  }
}

/* line 120, ../sass/_checkbox-radio.scss */
#SurveyEngineBody.iOS,
#SurveyEngineBody.Android {
  /* Mobile controls are bigger, so we need to adjust the ::after bits (which */
  /* skin the native controls by floating over them). */
  /* Qualtrics tries to put in a weird checkmark thingy in iPads. Kill it. */
  /* Qualtrics adds weird list item markers using :before content on mobile */
  /* Allows for scrolling MC questions on mobile devices */
}
/* line 125, ../sass/_checkbox-radio.scss */
#SurveyEngineBody.iOS .Skin .MC input.checkbox::after,
#SurveyEngineBody.Android .Skin .MC input.checkbox::after {
  top: -1px;
  height: 30px;
  width: 30px;
}
/* line 132, ../sass/_checkbox-radio.scss */
#SurveyEngineBody.iOS input.checkbox:checked::after,
#SurveyEngineBody.Android input.checkbox:checked::after {
  content: "";
  background: #4593d5;
  /* Need to override Qualtrics Base styles */
  top: -1px;
  left: -1px;
}
/* line 140, ../sass/_checkbox-radio.scss */
#SurveyEngineBody.iOS .Skin .MC input[type="radio"]::after,
#SurveyEngineBody.iOS .Skin .MC input[type="radio"]::after,
#SurveyEngineBody.Android .Skin .MC input[type="radio"]::after,
#SurveyEngineBody.Android .Skin .MC input[type="radio"]::after {
  height: 30px;
  width: 30px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}
/* line 148, ../sass/_checkbox-radio.scss */
#SurveyEngineBody.iOS .Skin ul li:before,
#SurveyEngineBody.iOS .Skin ul li:before,
#SurveyEngineBody.Android .Skin ul li:before,
#SurveyEngineBody.Android .Skin ul li:before {
  content: none;
}
/* line 154, ../sass/_checkbox-radio.scss */
#SurveyEngineBody.iOS .Skin #Questions .QuestionOuter.MC fieldset .QuestionBody,
#SurveyEngineBody.iOS .Skin #Questions .QuestionOuter.MC fieldset .QuestionBody,
#SurveyEngineBody.Android .Skin #Questions .QuestionOuter.MC fieldset .QuestionBody,
#SurveyEngineBody.Android .Skin #Questions .QuestionOuter.MC fieldset .QuestionBody {
  overflow-x: auto;
  -webkit-overflow-scrolling: auto;
  -ms-overflow-style: auto;
  -ms-overflow-x: auto;
}

/* line 164, ../sass/_checkbox-radio.scss */
#SurveyEngineBody.iOS .Skin .MC input.checkbox::after {
  left: -1px;
}
/* line 169, ../sass/_checkbox-radio.scss */
#SurveyEngineBody.iOS .Skin .MC td input[type="radio"]::after,
#SurveyEngineBody.iOS .Skin .MC li input[type="radio"]::after {
  top: -1px;
  left: -1px;
}

/* line 177, ../sass/_checkbox-radio.scss */
#SurveyEngineBody.Android .Skin .MC input.checkbox::after {
  left: 0px;
}
/* line 181, ../sass/_checkbox-radio.scss */
#SurveyEngineBody.Android .Skin .MC td input[type="radio"]::after,
#SurveyEngineBody.Android .Skin .MC li input[type="radio"]::after {
  top: -1px;
  left: 0;
}
/* line 187, ../sass/_checkbox-radio.scss */
#SurveyEngineBody.Android .Skin .MC td input[type="radio"]:checked:after,
#SurveyEngineBody.Android .Skin .MC li input[type="radio"]:checked:after {
  top: -2px;
  left: -2px;
}

/* Formatting multiple columns with fluid sizing */
/* line 3, ../sass/_columns.scss */
.columns {
  display: block;
  margin: 30px 0;
}
/* line 7, ../sass/_columns.scss */
.columns:before, .columns:after {
  display: table;
  content: " ";
  clear: both;
}

/* line 15, ../sass/_columns.scss */
.col {
  display: block;
  min-height: 1px;
}
/* line 19, ../sass/_columns.scss */
.col:first-child {
  padding-right: 20px;
}
@media only screen and (max-width: 800px) {
  /* line 19, ../sass/_columns.scss */
  .col:first-child {
    padding-right: 0;
  }
}
/* line 27, ../sass/_columns.scss */
.col .perts-quote {
  padding-right: 0px;
}
/* line 31, ../sass/_columns.scss */
.col.col-4 {
  width: 33.33%;
}
/* line 34, ../sass/_columns.scss */
.col.col-4.narrow {
  width: 25%;
}
/* line 37, ../sass/_columns.scss */
.col.col-8 {
  width: 66.67%;
}
/* line 40, ../sass/_columns.scss */
.col.col-8.wide {
  width: 75%;
}
/* line 43, ../sass/_columns.scss */
.col.col-8.wide.extra-padding {
  padding-left: 60px;
}
@media only screen and (min-width: 800px) {
  /* line 15, ../sass/_columns.scss */
  .col {
    float: left;
  }
}
@media only screen and (max-width: 800px) {
  /* line 52, ../sass/_columns.scss */
  .col.col-4, .col.col-4.narrow, .col.col-8, .col.col-8.wide {
    width: 100%;
  }
}

/* Image blocks */
/* line 3, ../sass/_images.scss */
.image-block {
  display: block;
  margin: 30px auto;
  text-align: center;
}
/* line 8, ../sass/_images.scss */
.image-block .image-block_caption {
  margin: 5px 0px;
  color: #999;
}
/* line 13, ../sass/_images.scss */
.col-4 .image-block {
  margin: 15px auto;
  max-width: 100%;
}
/* line 17, ../sass/_images.scss */
.col-4 .image-block.image-block--quote {
  margin: 45px auto 0px auto;
}
/* line 21, ../sass/_images.scss */
.col-4 .image-block.image-block--padded {
  margin: 30px auto;
}
/* line 26, ../sass/_images.scss */
.image-block#intro-image {
  height: 150px;
  width: 400px;
}
/* line 31, ../sass/_images.scss */
.image-block#brain-lobes {
  background-image: url("/static/images/brain-lobes.png");
  height: 680px;
  width: 500px;
  margin: 0px;
  background-color: #f0f1f2;
  position: relative;
}

/* Image insets */
/* line 43, ../sass/_images.scss */
.image-inset-right {
  float: right;
  margin-left: 20px;
  margin-top: 20px;
}

/* Custom input - select many */
/* line 3, ../sass/_interactive-elements.scss */
.select-many {
  margin: 30px 0px;
  width: 100%;
  text-align: center;
}

/* line 9, ../sass/_interactive-elements.scss */
.select-many_option {
  position: relative;
  display: inline-block;
  margin: 20px 15px;
  padding: 10px;
  height: 260px;
  width: 220px;
  background-color: #f6f9fb;
  vertical-align: top;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
/* line 21, ../sass/_interactive-elements.scss */
.select-many_option:hover {
  border: 5px solid #3faeec;
  cursor: pointer;
}
/* line 26, ../sass/_interactive-elements.scss */
.select-many_option.selected {
  background-color: #c5e7f9;
}
/* line 30, ../sass/_interactive-elements.scss */
.select-many_option .option-text {
  font-size: 18px;
  line-height: 26px;
  position: absolute;
  width: 100%;
  padding: 0px 10px;
  bottom: 20px;
  left: 0px;
  font-weight: 300;
}
/* line 42, ../sass/_interactive-elements.scss */
.select-many_option:hover .option-image {
  margin-top: 10px;
}
/* line 46, ../sass/_interactive-elements.scss */
.select-many_option:hover .option-text {
  bottom: 15px;
  /* There's a 5px border on hover, so shrink padding by matching */
  /* amount to avoid content wiggle. */
  padding: 0 5px;
}
/* line 54, ../sass/_interactive-elements.scss */
.select-many_option .option-image#option-1 {
  background-image: url("/static/images/option-1-fixed.png");
}
/* line 57, ../sass/_interactive-elements.scss */
.select-many_option .option-image#option-2 {
  background-image: url("/static/images/option-2-fixed.png");
}
/* line 60, ../sass/_interactive-elements.scss */
.select-many_option .option-image#option-3 {
  background-image: url("/static/images/option-3-fixed.png");
}

/* line 65, ../sass/_interactive-elements.scss */
.smarter-option {
  display: inline-block;
  position: relative;
  width: 370px;
  margin: 25px 12px;
  height: 300px;
  background-color: #eee;
  overflow: hidden;
}
/* line 74, ../sass/_interactive-elements.scss */
.smarter-option.smarter-option--1 {
  background-image: url("/static/images/option-easy-work.png");
  margin-left: 0px;
}
/* line 79, ../sass/_interactive-elements.scss */
.smarter-option.smarter-option--2 {
  background-image: url("/static/images/option-hard-work.png");
  margin-right: 0px;
}
/* line 84, ../sass/_interactive-elements.scss */
.smarter-option:hover .smarter-option_label {
  top: 150px;
}

/* line 89, ../sass/_interactive-elements.scss */
.smarter-option_label {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 300px;
  -moz-transition-property: top, 0.5s, ease;
  -o-transition-property: top, 0.5s, ease;
  -webkit-transition-property: top, 0.5s, ease;
  transition-property: top 0.5s ease;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.65);
  color: #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
}

/* Slider toggle */
/* line 107, ../sass/_interactive-elements.scss */
.perts-slider-outer {
  width: 94px;
  height: 27px;
  overflow: hidden;
  position: relative;
  float: right;
  z-index: 10;
}

/* line 116, ../sass/_interactive-elements.scss */
.perts-slider {
  background: url("http://labs.engageinteractive.co.uk/itoggle/images/itoggle.png") 0 -27px;
  width: 147px;
  height: 27px;
  margin-left: -53px;
  /* "off" state */
  cursor: pointer;
}
/* line 123, ../sass/_interactive-elements.scss */
.perts-slider.disabled {
  opacity: 0.25;
  filter: alpha(opacity=25);
  /* For IE8 and earlier */
  cursor: default;
}

/* Neuron interaction */
/* line 132, ../sass/_interactive-elements.scss */
.neuron-part, .brain-lobe {
  position: absolute;
  display: block;
  height: 26px;
  width: 26px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  background-color: #fff;
  border: 6px solid #3faeec;
  -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
}
/* line 142, ../sass/_interactive-elements.scss */
.neuron-part:hover, .brain-lobe:hover {
  background-color: #3faeec;
  border: 6px solid #368dbe;
}
/* line 146, ../sass/_interactive-elements.scss */
.neuron-part:hover .part-caption, .brain-lobe:hover .part-caption {
  display: block;
}
/* line 151, ../sass/_interactive-elements.scss */
.neuron-part .part-caption, .brain-lobe .part-caption {
  display: none;
  position: absolute;
  bottom: 20px;
  width: 150px;
  text-align: center;
  font-style: bold;
  background-color: #fff;
  padding: 10px;
  border: 2px solid #999;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 167, ../sass/_interactive-elements.scss */
.neuron-part#neuron-part--cell-body {
  left: 110px;
  top: 330px;
}
/* line 172, ../sass/_interactive-elements.scss */
.neuron-part#neuron-part--axon {
  left: 290px;
  top: 345px;
}
/* line 177, ../sass/_interactive-elements.scss */
.neuron-part#neuron-part--dendrites {
  left: 85px;
  top: 250px;
}
/* line 182, ../sass/_interactive-elements.scss */
.neuron-part .part-caption {
  left: 0px;
}

/* line 189, ../sass/_interactive-elements.scss */
.brain-lobe#brain-lobe--frontal {
  left: 110px;
  top: 230px;
}
/* line 194, ../sass/_interactive-elements.scss */
.brain-lobe#brain-lobe--frontal .part-caption {
  right: -55px;
}
/* line 198, ../sass/_interactive-elements.scss */
.brain-lobe#brain-lobe--temporal {
  left: 260px;
  top: 330px;
}
/* line 203, ../sass/_interactive-elements.scss */
.brain-lobe#brain-lobe--occipital {
  left: 415px;
  top: 300px;
}
/* line 208, ../sass/_interactive-elements.scss */
.brain-lobe#brain-lobe--parietal {
  left: 300px;
  top: 210px;
}
/* line 213, ../sass/_interactive-elements.scss */
.brain-lobe .part-caption {
  right: 0px;
}

/* PERTS Quotes! */
/* line 3, ../sass/_quotes.scss */
.perts-quote {
  display: block;
  width: 100%;
  position: relative;
  margin: 30px 0px 30px -30px;
  border-left: 4px solid #3faeec;
  padding: 10px 0px 10px 30px;
  font-weight: 300;
}
/* line 12, ../sass/_quotes.scss */
.perts-quote:before {
  display: block;
  content: "";
  width: 32px;
  height: 36px;
  position: absolute;
  top: 0px;
  left: -29px;
  background-image: url("/static/images/perts-quote-mark.png");
  background-repeat: no-repeat;
}
/* line 24, ../sass/_quotes.scss */
.perts-quote.perts-quote--light {
  padding: 0px 0px 0px 20px;
  margin: 20px 0px 20px -20px;
}
/* line 28, ../sass/_quotes.scss */
.perts-quote.perts-quote--light:before {
  display: none;
}
/* line 32, ../sass/_quotes.scss */
.perts-quote.perts-quote--light .perts-quote_credit {
  font-size: 18px;
  margin-top: 15px;
  color: #4593d5;
  font-weight: 500;
}

/* line 41, ../sass/_quotes.scss */
.perts-quote_body {
  font-size: 21px;
  color: #666;
  line-height: 32px;
  font-style: italic;
}

/* line 48, ../sass/_quotes.scss */
.perts-quote_credit {
  font-size: 21px;
  margin-top: 30px;
  color: #4593d5;
  font-weight: 500;
}
/* line 54, ../sass/_quotes.scss */
.perts-quote_credit.credit--top {
  margin-top: 0px;
  margin-bottom: 20px;
}

/* line 32, ../sass/qualtrics.scss */
html #SurveyEngineBody {
  background: none;
  background-color: #e3e3e3;
  font-family: "museo-sans", "Arial", sans-serif;
  color: #333;
}

/* line 39, ../sass/qualtrics.scss */
.SkinInner {
  width: 100%;
  background-color: #fff;
  margin: 0px;
}

/* line 45, ../sass/qualtrics.scss */
.hidden-label {
  visibility: hidden;
  height: 0;
}

/* line 50, ../sass/qualtrics.scss */
.JFEScope .Separator ~ .Separator {
  display: none;
}

/* line 52, ../sass/qualtrics.scss */
.Skin {
  background-color: #fff;
  /* In the case of Matrix-style questions (with tables) */
  /* Qualtrics automatically copies the QuestionText into */
  /* the table <caption>. Normally you don't see this b/c */
  /* there's a base style of caption {display: none}. We need */
  /* to make sure the caption stays hidden despite the */
  /* display: block instruction above. */
}
/* line 55, ../sass/qualtrics.scss */
.Skin .Separator {
  margin: 0;
  margin-bottom: -30px;
  background-color: transparent;
}
/* line 60, ../sass/qualtrics.scss */
.Skin .Separator ~ .Separator {
  background-color: transparent;
}
/* line 65, ../sass/qualtrics.scss */
.Skin #Logo,
.Skin #PushStickyFooter,
.Skin #Plug {
  display: none !important;
}
/* line 71, ../sass/qualtrics.scss */
.Skin #Plug {
  background-color: #e3e3e3;
}
/* line 75, ../sass/qualtrics.scss */
.Skin #Header {
  position: relative;
  display: block;
  padding: 0px;
  height: 80px;
  background-color: #3faeec;
}
/* line 83, ../sass/qualtrics.scss */
.Skin #Footer {
  background-color: #e3e3e3;
  height: 80px;
}
/* line 87, ../sass/qualtrics.scss */
.Skin #Footer .foot-text {
  padding-top: 26px;
  text-align: center;
  font-family: "din-condensed-web", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #999;
}
/* line 98, ../sass/qualtrics.scss */
.Skin #Questions {
  padding: 0px;
  min-height: 400px;
}
/* line 103, ../sass/qualtrics.scss */
.Skin .QuestionOuter {
  padding: 0px;
  overflow-x: auto;
  -ms-overflow-x: auto;
  -ms-overflow-style: auto;
}
/* line 109, ../sass/qualtrics.scss */
.Skin .QuestionOuter .Inner {
  padding: 0px;
  /* Prevent wide content from scrolling, and prevent horiz scrollbar */
  overflow-x: hidden;
}
/* line 116, ../sass/qualtrics.scss */
.Skin #ProgressBar {
  display: none;
}
/* line 120, ../sass/qualtrics.scss */
.Skin .QuestionText {
  padding: 0;
}
/* line 124, ../sass/qualtrics.scss */
.Skin .QuestionBody,
.Skin .MC .QuestionText,
.Skin .TE .QuestionText,
.Skin .Matrix .QuestionText {
  display: block;
  width: 770px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}
@media only screen and (max-width: 800px) {
  /* line 124, ../sass/qualtrics.scss */
  .Skin .QuestionBody,
  .Skin .MC .QuestionText,
  .Skin .TE .QuestionText,
  .Skin .Matrix .QuestionText {
    width: 100%;
    padding: 0px 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}
/* line 147, ../sass/qualtrics.scss */
.Skin .Matrix caption.QuestionText {
  display: none;
}
/* line 151, ../sass/qualtrics.scss */
.Skin .QuestionText {
  margin: 0px;
}
/* line 155, ../sass/qualtrics.scss */
.Skin .QuestionBody table.ChoiceStructure.narrow-table {
  width: 300px;
  margin-top: 25px;
}
/* line 160, ../sass/qualtrics.scss */
.Skin .QuestionBody table.ChoiceStructure.narrow-table td {
  padding: 12px 0;
}
/* line 166, ../sass/qualtrics.scss */
.Skin .MC .QuestionBody {
  margin: 20px auto 25px auto;
}
/* line 170, ../sass/qualtrics.scss */
.Skin .MC .QuestionText {
  font-weight: 300;
  font-size: 21px;
  color: #333;
}
/* line 176, ../sass/qualtrics.scss */
.Skin .MC table {
  margin-bottom: 55px;
}
/* line 180, ../sass/qualtrics.scss */
.Skin .MC input.TextEntryBox.InputText {
  left: 0px;
  margin: 5px 0px 15px 0px;
}
/* line 186, ../sass/qualtrics.scss */
.Skin .ML *,
.Skin .SL * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 191, ../sass/qualtrics.scss */
.Skin .ML .ChoiceStructure,
.Skin .SL .ChoiceStructure.ChoiceStructureStyled {
  background-color: #3faeec;
  padding: 35px 6px 6px 6px;
  margin: 30px 0px;
  position: relative;
}
/* line 199, ../sass/qualtrics.scss */
.Skin .ML .ChoiceStructure textarea,
.Skin .SL .ChoiceStructure.ChoiceStructureStyled input {
  width: 100% !important;
  height: 250px !important;
  border: 0;
  outline: 0;
  padding: 15px;
  font-size: 21px;
  font-weight: 300;
  color: #333;
  line-height: 28px;
  background-color: #fff;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* line 214, ../sass/qualtrics.scss */
.Skin .SL .ChoiceStructure.ChoiceStructureStyled input {
  height: 50px !important;
  margin: 0px;
}

/* line 220, ../sass/qualtrics.scss */
li span.LabelWrapper {
  font-weight: 300;
  font-size: 21px;
  color: #333;
}

/* line 226, ../sass/qualtrics.scss */
table span.LabelWrapper {
  font-weight: 500;
  font-size: 15px;
  color: #333;
  padding: 0px 10px;
  margin: 0;
  display: block;
}

/* line 235, ../sass/qualtrics.scss */
.open-response_header {
  position: absolute;
  top: 12px;
  left: 10px;
  color: #fff;
}

/* Text formatting */
/* line 244, ../sass/qualtrics.scss */
#section-header {
  text-align: center;
  padding: 0px 0px 45px 0;
  margin-top: 30px;
  color: #999;
  font-size: 18px;
  font-family: "din-condensed-web", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
}

/* line 255, ../sass/qualtrics.scss */
.Skin h1,
.Skin #title-text {
  color: #4593d5;
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 700;
}

/* line 263, ../sass/qualtrics.scss */
.Skin p {
  font-size: 21px;
  line-height: 30px;
  margin: 15px 0px;
  font-weight: 300;
}

/* line 270, ../sass/qualtrics.scss */
.callout-text {
  font-size: 21px;
  line-height: 30px;
  font-style: italic;
  color: #4593d5;
  margin: 30px 0px;
  font-weight: 500;
}

/* line 279, ../sass/qualtrics.scss */
.instruction-text {
  font-size: 18px;
  color: #999;
  font-style: italic;
  margin-bottom: 25px;
}

/* line 286, ../sass/qualtrics.scss */
.footnote-text {
  font-size: 14px;
  color: #999;
  margin-bottom: 25px;
}

/* Setting up custom containers */
/* line 294, ../sass/qualtrics.scss */
#main-content *,
#split-page *,
#splash-page * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 300, ../sass/qualtrics.scss */
#main-content,
#splash-page {
  display: block;
  width: 800px;
  padding: 0px 15px;
  min-height: 450px;
  margin: 0 auto 20px auto;
  max-width: 100%;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 312, ../sass/qualtrics.scss */
#splash-page {
  margin: 100px auto 20px auto;
  text-align: center;
}
/* line 316, ../sass/qualtrics.scss */
#splash-page h1 {
  font-size: 32px;
}

/* line 321, ../sass/qualtrics.scss */
#split-page {
  display: block;
  width: 1020px;
  min-height: 650px;
  margin: 0px auto;
  position: relative;
}

/* line 329, ../sass/qualtrics.scss */
#split-text {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 510px;
  padding: 0px 15px;
  height: 650px;
  position: relative;
}

/* line 339, ../sass/qualtrics.scss */
#split-image {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 500px;
  height: 680px;
  overflow: hidden;
}
/* line 347, ../sass/qualtrics.scss */
#split-image .image-block {
  margin: 0px;
}
/* line 350, ../sass/qualtrics.scss */
#split-image .image-caption {
  position: absolute;
  text-align: center;
  bottom: 0px;
  width: 100%;
  height: 95px;
  color: #999;
  font-size: 18px;
  font-style: italic;
}

/* Hidden container */
/* line 365, ../sass/qualtrics.scss */
.hidden-container.hidden-container--hidden {
  display: none;
}

/* Custom bullet lists */
/* line 374, ../sass/qualtrics.scss */
.Skin ul.perts-bullets,
.Skin ol.perts-bullets {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 379, ../sass/qualtrics.scss */
.Skin ul.perts-bullets li,
.Skin ol.perts-bullets li {
  font-size: 21px;
  line-height: 30px;
  color: #666;
  list-style: none;
  margin-bottom: 3px;
  font-weight: 300;
}
/* line 389, ../sass/qualtrics.scss */
.Skin ul.perts-bullets,
.Skin ul.perts-bullets li,
.Skin .QuestionText ul.perts-bullets,
.Skin .QuestionText ul.perts-bullets li {
  list-style-type: none;
}
/* line 396, ../sass/qualtrics.scss */
.Skin ul.perts-bullets li:before {
  content: "";
  height: 12px;
  width: 12px;
  background-color: #3faeec;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  position: absolute;
  display: block;
  margin-top: 8px;
  left: 12px;
}
/* line 408, ../sass/qualtrics.scss */
.Skin #split-text ul.perts-bullets li:before {
  left: 30px;
}

/* User input fields (open-response and short-form) */
/* line 417, ../sass/qualtrics.scss */
.Skin .open-response {
  background-color: #3faeec;
  margin: 20px 0px;
  padding: 15px;
}
/* line 422, ../sass/qualtrics.scss */
.Skin .open-response .open-response_header {
  color: #fff;
  padding-bottom: 15px;
}
/* line 427, ../sass/qualtrics.scss */
.Skin .open-response textarea.open-response_input {
  width: 100%;
  height: 250px;
  border: 0;
  outline: 0;
  padding: 15px;
  font-size: 21px;
  font-weight: 300;
  color: #333;
  line-height: 28px;
  background-color: #fff;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* line 442, ../sass/qualtrics.scss */
.Skin input.short-form,
.Skin input[type="TEXT"] {
  border-style: none;
  border: 1px solid #ccc;
  font-size: 21px;
  font-weight: 300;
  padding: 10px 15px;
  margin: 0px;
  width: 100%;
  border: 0;
  outline: 0;
  background-color: #fff;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* line 457, ../sass/qualtrics.scss */
.Skin input[type="TEXT"] {
  margin-bottom: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Hide timing questions during previews so they look more realistic. */
/* line 465, ../sass/qualtrics.scss */
.QuestionOuter.Timing {
  display: none;
}

/* Fixes for iPhone and iPad */
@media only screen and (max-device-width: 1024px) and (min-device-width: 768px) {
  /* Qualtrics applies a 90% max width here. Stupid. */
  /* line 472, ../sass/qualtrics.scss */
  html #SurveyEngineBody.iOS .Skin .SkinInner,
  html #SurveyEngineBody.Android .Skin .SkinInner {
    max-width: 100%;
  }
}
/* Override user agent stylesheets on mobile to allow scrolling within
 * fieldset elements */
/* line 480, ../sass/qualtrics.scss */
fieldset {
  min-width: 0;
}

@-moz-document url-prefix() {
  /* line 485, ../sass/qualtrics.scss */
  fieldset {
    display: table-cell;
  }
}
